@charset "UTF-8";

/* モバイル用の CSS */

body{
    width:100%;
    max-width: 375px;
    background-color:black;
}

.topic-path{
    display:none;
}

/* ▼------ヘッダー-------▼ */

header{
    height:45px;
    border-bottom: 1px solid #707070;
}

.header-logo{
    height:25px;
    width:160px;
    margin:11px 0px 8.7px 25px;
}

.links {
	width: 40px;
	height: 20px;
	position: absolute;
	top: 14px;
	right: 25px;
	cursor: pointer;
	z-index: 1;
}
.inner_line {
	width: 40px;
	height: 1px;
	position: absolute;
	background-color: #ffffff;
	border-radius: 4px;
	transition: 1s;
}
.top-line {
	top: 0;
    right:0px;
}
.mid-line {
    width:30px;
	top: 10px;
    left:10px;
}
.bot-line {
    width:20px;
	bottom: 0px;
    left:20px;
}

.line_1, .line_2, .line_3{
	background: #ffffff;
}
.line_1 {
    width:20px;
	transform: translateY(10px) rotate(-45deg);
	top: 0;
}
.line_2 {
	opacity: 0;
}
.line_3 {
	transform:translateY(-10px) rotate(45deg);
}

#nav{
	width: 100%;
	height: 100vh;
	position: absolute;
	left: -100%; /*右からでるやり方を確認*/
	top: 45px;
	background:#000000;
	transition: .7s;
    z-index:100;
}
.in {
	transform: translateX(100%);
}

#nav ul li{
	list-style-type: none;
	font-size: 20px;
    text-align: center;
    font-family: serif;
}

#nav li:first-child{
    margin-top:30px;
}

#nav a {
	margin-bottom:45px;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

#nav .sns-link{
    display: flex;
    justify-content: space-around;
    width:180px;
    margin:15px auto 0;
}

#nav .sns-icon{
    max-width:30px;
    height: auto;
    margin-top:15px;
}

/* ▼------フッター-------▼ */

footer{
    margin-top:-40px;
    text-align: center;
    color:#ffffff;
    width:100%;
    padding:0 29.5px;
    z-index:11;
    border-top: 1px solid #f4f4f4;
    transform: skew(0,0deg);
    background-color: #000000;	
}

footer ul{
    display: flex;
    justify-content: space-around;
    margin:30px 0;
    list-style: none;
}

footer li{
    font-size: 12px;
    text-decoration: underline;
}

footer p{
    font-size:12px;
    margin-bottom:20px;
}


/* -------------------------------- */
/* -----------PC 用の CSS----------- */
/* -------------------------------- */

@media screen and (min-width: 1000px){
    body{
        width:100%;
        max-width: none;
        background-color:black;
    }

/* ------パンくずリスト（PCのみ）------ */


.topic-path{
    width: 1000px;
    display: block;
    margin:60px auto 30px;
}

.topic-path ol {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
    
.topic-path ol li {
    display: inline;
    list-style: none;
}

.topic-path ol li:last-child:after {
    content: '';
}

.topic-path ol li a {
    text-decoration: none;
    color: #D5D5D5;
    font-size:14px;
}

.top-link{
    text-decoration: underline;
}

.topic-path ol li:after {
    content: '>';
    padding: 0 0.2em;
    color: #555;
}


/* ▼------ヘッダー-------▼ */

header{
    height:auto;
    width:1000px;
    margin-left: auto;
    margin-right:auto;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    height:50px;
    width:320px;
    margin:9.66px 0;
}

.links, .sns-link, .sns-icon, .inner_line, .top-line, .mid-line, .bot-line{
    display:none !important;
}

#nav{
    width: auto;
    height: auto;
    position: static;
    background:none;
}

nav ul {
    display: flex;
}

#nav li:first-child{
    margin-top:0px;
}

#nav a{
    margin-top:24px;
    margin-bottom:24px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}

#nav a:hover{
    color:#FF4343;
}

nav ul li{
    margin-right:30px;
}

nav ul li:last-of-type{
    margin-right:0;
}

nav ul a{
    display: inline-block;
}

/* ▼------フッター-------▼ */

footer{
    margin-top:-60px;
    text-align: center;
    color:#ffffff;
    width:100%;
    height:136px;
    padding:0 29.5px;
    z-index:11;
    border-top: 1px solid #f4f4f4;
    transform: skew(0,0deg);
    background-color: #000000;	
}

footer ul{
    display: flex;
    justify-content: center;
    margin:30px 0 12px;
    list-style: none;
}

footer li{
    font-size: 12px;
    text-decoration: underline;
    margin-right:30px;
}

footer p{
    font-size:12px;
    margin-bottom:20px;
}

}